* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.events {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.add {
    width: 80%;
    height: auto;
    margin: auto;
}

.add h1 {
    text-align: center;
    font-size: 2em;
}

.add form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add form>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5em 0;
}

.add form>div label {
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

.add form>div input {
    width: 400px;
    outline: none;
    border: 1px solid rgb(2, 141, 206);
    padding: 0.3em;
    border-radius: 10px;
}

.add form>div textarea {
    resize: none;
    width: 400px;
    height: 150px;
    outline: none;
    border: 1px solid rgb(2, 141, 206);
    padding: 0.3em;
    border-radius: 10px;
}

.add form button {
    margin: 1.2em 0;
}

@media(max-width:470px) {
    .add form>div input {
        width: 250px;
    }
    .add form>div textarea {
        width: 250px;
    }
}